.alignment-search {
    display: flex !important;
    justify-content: center;
    margin-top: 100px;
}

.margin-items {
    margin-right: 10px;
}

.input-styling {
    padding: 4px;
    border-radius: 5px;
}

.bg-title {
    background-color: #fff;
}

.thumb {
    margin: 10px;
}